@model Academy.Models.TrainingApplication.ApplicantSchedule

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ApplicantSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicantScheduleId" />
            <div class="form-group">
                <label asp-for="ApplicantId" class="control-label"></label>
                <select asp-for="ApplicantId" class="form-control" asp-items="ViewBag.ApplicantId"></select>
                <span asp-validation-for="ApplicantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingScheduleId" class="control-label"></label>
                <select asp-for="TrainingScheduleId" class="form-control" asp-items="ViewBag.TrainingScheduleId"></select>
                <span asp-validation-for="TrainingScheduleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsQualified" /> @Html.DisplayNameFor(model => model.IsQualified)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasPaid" /> @Html.DisplayNameFor(model => model.HasPaid)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasCompletedSchedule" /> @Html.DisplayNameFor(model => model.HasCompletedSchedule)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCompleted" class="control-label"></label>
                <input asp-for="DateCompleted" class="form-control" />
                <span asp-validation-for="DateCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsRefunded" /> @Html.DisplayNameFor(model => model.IsRefunded)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsSuspended" /> @Html.DisplayNameFor(model => model.IsSuspended)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GeneralComment" class="control-label"></label>
                <input asp-for="GeneralComment" class="form-control" />
                <span asp-validation-for="GeneralComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateLastUpdated" class="control-label"></label>
                <input asp-for="DateLastUpdated" class="form-control" />
                <span asp-validation-for="DateLastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

