@model IEnumerable<Academy.Models.Training.SessionSpeaker>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsLeadSpeaker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingSession)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsLeadSpeaker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speaker.SpeakerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingSession.TrainingSessionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SessionSpeakerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SessionSpeakerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SessionSpeakerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
