@model Academy.Models.Training.TrainingSession

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainingSession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Expectations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Expectations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingSchedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingSchedule.TrainingScheduleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateLastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateLastUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrainingSessionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
