@model Academy.Models.Training.TraningType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TraningType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TraningCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TraningCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TraningName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TraningName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateLastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateLastUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TraningTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
